## SQLAlchemy - using an ORM

### what is an ORM?

ORM stands for Object Relational Mapper

https://en.wikipedia.org/wiki/Object-relational_mapping

```
The heart of the problem involves translating the logical representation 
of the objects into an atomized form that is capable of being stored 
in the database, while preserving the properties of the objects 
and their relationships so that they can be reloaded as objects when needed.
```

### what is SQLAlchemy?

* SQLAlchemy is magic!!  

* Allows you to make database style calls in Python as opposed to SQL.

* Can connect to lots of different databases.  Underlying connection engine for many other Python packages like pandas.

* Can use raw SQL if you want

* Allows you to have an abstraction layer between Python and database

https://www.sqlalchemy.org/

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql.html#pandas.read_sql

### install SQLAlchemy

```pip install SQLAlchemy```

In [20]:
# Check this out!
# !is a Jupyter magic that calls out to the 
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/mango/anaconda/envs/w205/lib/python3.5/site-packages

### make sure it works

In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.1.9'

### create a simple database in memory

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)

In [4]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

### define class representing a simple table

In [5]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)

    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (self.name, self.fullname, self.password)

In [6]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('password', String(), table=<users>), schema=None)

### create the database!!

In [7]:
Base.metadata.create_all(engine)

2017-08-08 15:08:00,463 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-08-08 15:08:00,465 INFO sqlalchemy.engine.base.Engine ()
2017-08-08 15:08:00,467 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-08-08 15:08:00,467 INFO sqlalchemy.engine.base.Engine ()
2017-08-08 15:08:00,469 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-08-08 15:08:00,470 INFO sqlalchemy.engine.base.Engine ()
2017-08-08 15:08:00,472 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2017-08-08 15:08:00,473 INFO sqlalchemy.engine.base.Engine ()
2017-08-08 15:08:00,474 INFO sqlalchemy.engine.base.Engine COMMIT

### create our first User

In [8]:
ed_user = User(name='ed', fullname='Mr. Ed', password='wilbur')

### __repr__ should return a printable representation of the object

# use the defined __repr__ function

__repr__ should return a printable representation of the object
amit_user

In [9]:
ed_user.password

'wilbur'

In [10]:
ed_user.fullname

'Mr. Ed'

### need to start a Session in order to "talk to the database"

so far we have only created an object in Python memory using the class we defined.

In [11]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session() # instance of Session()

### first insert

In [12]:
session.add(ed_user)
session.commit()

2017-08-08 15:08:17,736 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-08 15:08:17,739 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-08-08 15:08:17,740 INFO sqlalchemy.engine.base.Engine ('ed', 'Mr. Ed', 'wilbur')
2017-08-08 15:08:17,742 INFO sqlalchemy.engine.base.Engine COMMIT

### query to see if it is there

In [13]:
our_user = session.query(User)
our_user.first()

2017-08-08 15:08:22,759 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-08 15:08:22,762 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
 LIMIT ? OFFSET ?
2017-08-08 15:08:22,764 INFO sqlalchemy.engine.base.Engine (1, 0)

### query with a filter

In [14]:
our_user = session.query(User).filter_by(name='ed')
our_user.count()

2017-08-08 15:08:25,113 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?) AS anon_1
2017-08-08 15:08:25,114 INFO sqlalchemy.engine.base.Engine ('ed',)

1

### add a bunch more users

In [16]:
gabe = User(name='Gabe', fullname='Gabriel Fine', password='bart')
charlie = User(name='Charlie', fullname='Charlotte Fine', password='lisa')
session.add_all([ gabe, charlie ] )
session.commit()

2017-08-08 15:08:58,803 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-08-08 15:08:58,804 INFO sqlalchemy.engine.base.Engine ('Gabe', 'Gabriel Fine', 'bart')
2017-08-08 15:08:58,805 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-08-08 15:08:58,806 INFO sqlalchemy.engine.base.Engine ('Charlie', 'Charlotte Fine', 'lisa')
2017-08-08 15:08:58,807 INFO sqlalchemy.engine.base.Engine COMMIT

### check how many Users are in table

In [17]:
query = session.query(User)
query.count()

2017-08-08 15:09:01,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-08-08 15:09:01,804 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users) AS anon_1
2017-08-08 15:09:01,805 INFO sqlalchemy.engine.base.Engine ()

3

### try raw SQL

In [18]:
from sqlalchemy import text

sql = text('select count(*) from users')
result = session.execute(sql)
result.first()

2017-08-08 15:09:06,591 INFO sqlalchemy.engine.base.Engine select count(*) from users
2017-08-08 15:09:06,593 INFO sqlalchemy.engine.base.Engine ()

(3,)

In [19]:
sql = text('select * from users')
result = session.execute(sql)
for rr in result:
    print(rr)

2017-08-08 15:09:08,743 INFO sqlalchemy.engine.base.Engine select * from users
2017-08-08 15:09:08,744 INFO sqlalchemy.engine.base.Engine ()
(1, 'ed', 'Mr. Ed', 'wilbur')
(2, 'Gabe', 'Gabriel Fine', 'bart')
(3, 'Charlie', 'Charlotte Fine', 'lisa')